<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create Users</a>
    </div>
    <div>
        <div class="table-container">
            <div class="title">List Users</div>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Action</th>
                </tr>
                <!-- <% for (let i= 0; i < listUsers.length; i++) { %>
                    <tr>
                        <td><%= listUsers[i].id %></td>
                        <td><%= listUsers[i].email %></td>
                        <td><%= listUsers[i].name %></td>
                        <td><%= listUsers[i].city %></td>
                        <td>
                            <button>Edit</button>
                            <button>Delete</button>
                        </td>
                    </tr>
                <% }%> -->

                <% listUsers.forEach(function(user) { %>
                    <tr>
                        <td><%= user.id %></td>
                        <td><%= user.email %></td>
                        <td><%= user.name %></td>
                        <td><%= user.city %></td>
                        <td>
                            <a href="/update/<%= user.id %>">Edit</a>
                            <button>Delete</button>
                        </td>
                    </tr>
                 <% }); %>
            </table>
        </div>
    </div>

</body>
</html>